# <ins>Analysis on the Potential of Life on Exoplanets</ins>

## By: Ethan Barr and Tim Freerksen

## <ins>Introduction</ins>

Is there life in space? This has been a question for many years with no real evidence to back up the claim that there is. Our goal in this project is to take the exoplanets already discovered and see what the probability of life on these planets real is and hope that a good amount of the exoplanets that we discovered so far fit well into the criteria of haveing the ability to hold life.

Throughout this tutorial, we will try to see how many of the exoplanets we have discovered so far the right conditions in order to harbor life and then we will see what the probability is that a future exoplanet will end up holding life.

### <ins>Required Tools</ins>

The following libraries used for the project:

    1. pandas
    2. regex

If having issues with python 3+ or panda, we recommend referring to these following websites for more information:

    1. https://docs.python.org/3/
    2. https://pandas.pydata.org/pandas-docs/stable/install.html

### <ins>1. Data Collection</ins>

This is the first part of the data life cycle. In this part we will go through various websites to try and find data that both matches our topic at hand as well as gives enough information so that we can perform an analysis later on. 

For an Exoplanet Database we found that https://exoplanetarchive.ipac.caltech.edu/cgi-bin/TblView/nph-tblView?app=ExoTbls&config=PS gave the best and most information from 1989 - 2020. In order to retrieve this data we first converted the online database into a csv file in which we could then read and manipulate.

The following tools were used for the data collection:

    1. panda

In [20]:
import pandas as pd # used in order to read the csv file and convert it successfully into a datafram
import re           # used to easily gather columns of similar aspects

Since the exoplanetarchive website was nice enough to allow the downloading of the database into a csv file, there was not a lot of steps to fully access the entire database. It was sufficient to first download the database in a csv format and then add it as one of the files with this project. We could then easily access this file by performing a pandas read_csv which allowed for the entire csv file to be converted into a flexibile and readable DataFrame that we could use.

A <ins>DataFrame</ins> is a table that has rows and columns that correlate to certain pieces of data. Using DataFrames allows for better use of more pandas functions which help to manipulate this data much more flexibily. If interested in learning more about DataFrames then check out the pandas documentation of it at https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

The only issue that the csv had when we first read it was that the data provided had its only numbering associated with each row. To combact this we decided to stick with how the original data numbered itself and assigned that row to be the row number titled, loc_rowid.

In [21]:
data = pd.read_csv('PS.csv')
data.set_index('loc_rowid', inplace=True)
data.head()

,pl_name,hostname,default_flag,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,soltype,pl_controv_flag,...,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate
loc_rowid,,,,,,,,,,,,,,,,,,,,,
1,11 Com b,11 Com,0,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,...,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848,2014-07-23,2011-08,2014-07-23
2,11 Com b,11 Com,1,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,...,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848,2014-05-14,2008-01,2014-05-14
3,11 UMi b,11 UMi,0,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903,2018-04-25 14:08:01,2009-10,2014-05-14
4,11 UMi b,11 UMi,0,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903,2018-04-25 14:08:01,2011-08,2014-07-23
5,11 UMi b,11 UMi,1,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903,2018-09-04 16:14:36,2017-03,2018-09-06

### <ins>2. Data Processing</ins>

After you successfully retrieve the data that you are looking for and have it in some sort of dataframe so that you can manipulate it then you move onto this next step. Within this step we want to try and tidy up the data that we just read in. This is an important step because of the fact that it will allow the data to be read and understood with much more fluidity. In our case we would be altering the structure of the DataFrame through the process of tidying data and / or data wrangling.

You can learn more about:

    1. tidying data: https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html
    2. data wrangling: https://www.elderresearch.com/blog/what-is-data-wrangling-and-why-does-it-take-so-long/#:~:text=Data%20wrangling%20is%20the%20process,20%25%20for%20exploration%20and%20modeling.

We will now go through the steps of tiding up our DataFrame so that any extra columns are discarded since we will not need them to perform our analysis. We also want to add a few columns to the DataFrame so that when we perform some calculations we can easily convert the column values out of their comparison units (example: 10 Earth Masses, which is just saying that the planet is 10 time the size of Earth). Another issue that we have with this DataFrame is that the names, due to there being many columns, may not be very intuitive, so in order to be able to understand the column values quicker without a cheat sheet of what each column represents we want to change the column names.

Due to space being such a hard thing to measure as we can't just take out a ruler and measure it that way, astronomers typically write down what they believe a value is and then the upper and lower limits of what that value could be. We will be just taking into account what they believe the specific value to be and ignore the upper and lower limits in order to help calculate certian aspects of the exoplanets and host stars much easier.

The following tools were used for Data Processing:

    1. regex

In [22]:
# This Loop is systematically removing the Upper and Lower limit values as well as the Limit Flags attactched to certain
# values
for columnName, columnData in data.iteritems():
    if (re.search('[1|2]', columnName)):
        data.drop(columnName, axis=1, inplace=True)
    elif (re.search('lim', columnName)):
        data.drop(columnName, axis=1, inplace=True)

# Removing the columns that are not needed but were not captured by the previous for loop
data.drop('default_flag', axis=1, inplace=True)
data.drop('discoverymethod', axis=1, inplace=True)
data.drop('disc_facility', axis=1, inplace=True)
data.drop('soltype', axis=1, inplace=True)
data.drop('pl_controv_flag', axis=1, inplace=True)
data.drop('pl_refname', axis=1, inplace=True)
data.drop('ttv_flag', axis=1, inplace=True)
data.drop('rowupdate', axis=1, inplace=True)
data.drop('pl_pubdate', axis=1, inplace=True)
data.drop('releasedate', axis=1, inplace=True)
data.drop('sy_refname', axis=1, inplace=True)
data.drop('rastr', axis=1, inplace=True)
data.drop('ra', axis=1, inplace=True)
data.drop('decstr', axis=1, inplace=True)
data.drop('dec', axis=1, inplace=True)
data.drop('sy_gaiamag', axis=1, inplace=True)
data.drop('sy_kmag', axis=1, inplace=True)
data.drop('sy_vmag', axis=1, inplace=True)
data.drop('st_refname', axis=1, inplace=True)
data.drop('pl_orbeccen', axis=1, inplace=True)

                                            ############ NOTE #############
#
#   In the 'CSV Info.txt' I tried to make it neat so that we know what columns we are working with and what columns we deleted.
#   This is so that we don't lose our mind as we code the stuff later on
#

# Need to add columns for Earth Radius, Jupiter Radius, Solar Radius, Solar Mass



# Also need to drop rows that have one or multiple of the following values as NaN ( x && y == if they are both missing)
#       - (pl_rade && pl_radj), (pl_bmasse && pl_bmassj), pl_orbsper, pl_orbsmax, st_teff, st_rad, st_mass, disc_year



# Also need to rename the columns for the above specific columns since we will most likely use those the most




data

,pl_name,hostname,sy_snum,sy_pnum,disc_year,pl_orbper,pl_orbsmax,pl_rade,pl_radj,pl_bmasse,...,pl_bmassprov,pl_insol,pl_eqt,st_teff,st_rad,st_mass,st_met,st_metratio,st_logg,sy_dist
loc_rowid,,,,,,,,,,,,,,,,,,,,,
1,11 Com b,11 Com,2,1,2007,NaN,1.210000,NaN,NaN,5434.70000,...,Msini,NaN,NaN,NaN,NaN,2.60,NaN,NaN,NaN,93.18460
2,11 Com b,11 Com,2,1,2007,326.030000,1.290000,NaN,NaN,6165.60000,...,Msini,NaN,NaN,4742.00,19.00,2.70,-0.350,[Fe/H],2.31,93.18460
3,11 UMi b,11 UMi,1,1,2009,516.220000,1.540000,NaN,NaN,3337.07000,...,Msini,NaN,NaN,4340.00,24.08,1.80,0.040,[Fe/H],1.60,125.32100
4,11 UMi b,11 UMi,1,1,2009,NaN,1.510000,NaN,NaN,3432.40000,...,Msini,NaN,NaN,NaN,NaN,1.70,NaN,NaN,NaN,125.32100
5,11 UMi b,11 UMi,1,1,2009,516.219970,1.530000,NaN,NaN,4684.81420,...,Msini,NaN,NaN,4213.00,29.79,2.78,-0.020,[Fe/H],1.93,125.32100
6,14 And b,14 And,1,1,2008,NaN,0.680000,NaN,NaN,1017.00000,...,Msini,NaN,NaN,NaN,NaN,1.20,NaN,NaN,NaN,75.43920
7,14 And b,14 And,1,1,2008,185.840000,0.830000,NaN,NaN,1525.50000,...,Msini,NaN,NaN,4813.00,11.00,2.20,-0.240,[Fe/H],2.63,75.43920
8,14 Her b,14 Her,1,1,2002,1773.400000,2.770000,NaN,NaN,1474.67000,...,Msini,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.93230
9,14 Her b,14 Her,1,1,2002,1766.000000,2.864000,NaN,NaN,1581.13800,...,Msini,NaN,NaN,5280.00,1.00,0.91,0.400,[M/H],4.40,17.93230
10,14 Her b,14 Her,1,1,2002,NaN,2.730000,NaN,NaN,1440.66300,...,Msini,NaN,NaN,NaN,NaN,0.90,NaN,NaN,NaN,17.93230
11,14 Her b,14 Her,1,1,2002,1773.400020,2.930000,NaN,NaN,1481.08780,...,Msini,NaN,NaN,5338.00,0.93,0.90,0.410,[Fe/H],4.45,17.93230
12,14 Her b,14 Her,1,1,2002,1724.000000,2.820000,NaN,NaN,1554.12000,...,Msini,NaN,NaN,NaN,NaN,1.00,0.350,[Fe/H],NaN,17.93230
13,14 Her b,14 Her,1,1,2002,1796.400000,2.800000,NaN,NaN,1506.45000,...,Msini,NaN,NaN,5255.00,NaN,0.90,0.510,[Fe/H],4.40,17.93230
14,16 Cyg B b,16 Cyg B,3,1,1996,798.500000,1.660000,NaN,NaN,565.73740,...,Msini,NaN,NaN,5750.00,1.13,1.08,0.060,[Fe/H],4.36,21.13970
15,16 Cyg B b,16 Cyg B,3,1,1996,800.800000,1.600000,NaN,NaN,476.70000,...,Msini,NaN,NaN,5760.00,NaN,1.00,0.050,[Fe/H],4.35,21.13970
16,16 Cyg B b,16 Cyg B,3,1,1996,799.500000,1.680000,NaN,NaN,533.93000,...,Msini,NaN,NaN,5747.00,1.13,1.03,0.060,[M/H],4.35,21.13970
17,16 Cyg B b,16 Cyg B,3,1,1996,798.500000,1.681000,NaN,NaN,533.95440,...,Msini,NaN,NaN,5674.00,NaN,0.99,0.038,[Fe/H],4.36,21.13970
18,16 Cyg B b,16 Cyg B,3,1,1996,799.500000,1.680000,NaN,NaN,533.93000,...,Msini,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.13970
19,18 Del b,18 Del,2,1,2008,NaN,2.540000,NaN,NaN,3127.30000,...,Msini,NaN,NaN,NaN,NaN,2.10,NaN,NaN,NaN,76.22200
20,18 Del b,18 Del,2,1,2008,993.300000,2.600000,NaN,NaN,3273.50000,...,Msini,NaN,NaN,4979.00,8.50,2.30,-0.052,[Fe/H],2.82,76.22200
21,1RXS J160929.1-210524 b,1RXS J160929.1-210524,1,1,2008,NaN,330.000000,NaN,NaN,3000.00000,...,Mass,NaN,1800.0,3993.00,1.31,0.62,NaN,NaN,4.00,139.13500
22,1RXS J160929.1-210524 b,1RXS J160929.1-210524,1,1,2008,NaN,330.000000,NaN,NaN,3000.00000,...,Mass,NaN,1700.0,4060.00,NaN,0.85,NaN,NaN,NaN,139.13500
23,1RXS J160929.1-210524 b,1RXS J160929.1-210524,1,1,2008,NaN,330.000000,18.647,1.664,2543.00000,...,Mass,NaN,1800.0,4060.00,1.35,0.85,NaN,NaN,NaN,139.13500
24,1RXS J160929.1-210524 b,1RXS J160929.1-210524,1,1,2008,NaN,330.000000,NaN,NaN,4000.00000,...,Mass,NaN,1700.0,4060.00,NaN,0.85,NaN,NaN,NaN,139.13500
25,24 Boo b,24 Boo,1,1,2018,30.350600,0.190000,NaN,NaN,289.22530,...,Msini,NaN,NaN,4893.00,10.64,0.99,-0.770,[Fe/H],2.42,95.98630
26,24 Sex b,24 Sex,1,2,2010,452.800000,1.333000,NaN,NaN,632.46000,...,Msini,NaN,NaN,5098.00,4.90,1.54,-0.030,[Fe/H],3.50,72.06910
27,24 Sex c,24 Sex,1,2,2010,883.000000,2.080000,NaN,NaN,273.32000,...,Msini,NaN,NaN,5098.00,4.90,1.54,-0.030,[Fe/H],3.50,72.06910
28,2MASS J01033563-5515561 AB b,2MASS J01033563-5515561 A,2,1,2013,NaN,84.000000,NaN,NaN,4131.79000,...,Mass,NaN,NaN,NaN,NaN,0.19,NaN,NaN,NaN,NaN
29,2MASS J01225093-2439505 b,2MASS J01225093-2439505,1,1,2013,NaN,52.000000,NaN,NaN,7786.50000,...,Mass,NaN,NaN,3530.00,NaN,0.40,NaN,NaN,NaN,33.82810
30,2MASS J01225093-2439505 b,2MASS J01225093-2439505,1,1,2013,NaN,NaN,11.209,1.000,NaN,...,NaN,NaN,1600.0,3309.00,0.37,0.35,NaN,NaN,4.86,33.82810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26824,pi Men c,HD 39091,1,2,2018,6.267900,0.068390,2.042,0.182,4.82000,...,Mass,309.00,1170.0,6037.00,1.10,1.09,0.080,[Fe/H],4.42,18.27020
26825,psi 1 Dra B b,psi 1 Dra B,3,1,2015,3117.000000,4.430000,NaN,NaN,486.27990,...,Msini,NaN,NaN,6212.00,NaN,1.19,0.010,[Fe/H],4.20,22.71880
26826,rho CrB b,rho CrB,1,2,1997,39.845800,0.219600,NaN,NaN,332.10000,...,Msini,34.70,614.0,5627.00,1.36,0.89,-0.310,[Fe/H],4.12,17.46710
26827,rho CrB b,rho CrB,1,2,1997,39.645000,0.230000,NaN,NaN,349.61300,...,Msini,NaN,NaN,5777.00,1.31,1.00,-0.190,[Fe/H],NaN,17.46710
26828,rho CrB c,rho CrB,1,2,2016,102.540000,0.412300,NaN,NaN,25.00000,...,Msini,9.85,448.0,5627.00,1.36,0.89,-0.310,[Fe/H],4.12,17.46710
26829,tau Boo b,tau Boo,2,1,1996,3.312463,0.048100,NaN,NaN,1312.58000,...,Msini,NaN,NaN,6387.00,NaN,1.35,0.234,[Fe/H],4.26,15.65210
26830,tau Boo b,tau Boo,2,1,1996,3.312433,NaN,NaN,NaN,1891.00000,...,Mass,NaN,NaN,6400.00,1.46,1.34,0.500,[Fe/H],4.50,15.65210
26831,tau Boo b,tau Boo,2,1,1996,3.312800,0.046200,NaN,NaN,1229.95000,...,Msini,NaN,NaN,6450.00,NaN,1.20,0.280,[Fe/H],4.30,15.65210
26832,tau Boo b,tau Boo,2,1,1996,3.312457,0.049000,NaN,NaN,1373.02560,...,Msini,NaN,NaN,6466.27,1.43,1.32,0.264,[M/H],4.25,15.65210
26833,tau Cet e,tau Cet,1,4,2017,162.870000,0.538000,NaN,NaN,3.93000,...,Msini,NaN,NaN,NaN,NaN,0.78,NaN,NaN,NaN,3.60304
26834,tau Cet f,tau Cet,1,4,2017,636.130000,1.334000,NaN,NaN,3.93000,...,Msini,NaN,NaN,NaN,NaN,0.78,NaN,NaN,NaN,3.60304
26835,tau Cet g,tau Cet,1,4,2017,20.000000,0.133000,NaN,NaN,1.75000,...,Msini,NaN,NaN,NaN,NaN,0.78,NaN,NaN,NaN,3.60304
26836,tau Cet h,tau Cet,1,4,2017,49.410000,0.243000,NaN,NaN,1.83000,...,Msini,NaN,NaN,NaN,NaN,0.78,NaN,NaN,NaN,3.60304
26837,tau Gem b,tau Gem,1,1,2013,305.500000,1.170000,NaN,NaN,6547.00000,...,Msini,NaN,NaN,4388.00,26.80,2.30,0.140,[Fe/H],1.96,112.53700
26838,tau Gem b,tau Gem,1,1,2013,305.000000,NaN,NaN,NaN,5752.48000,...,Msini,NaN,NaN,4482.00,28.72,NaN,NaN,NaN,NaN,112.53700
26839,ups And b,ups And,2,3,1996,4.611000,0.057000,NaN,NaN,216.12440,...,Msini,NaN,NaN,6200.00,NaN,1.20,0.090,[Fe/H],4.20,13.40540
26840,ups And b,ups And,2,3,1996,4.617080,0.059000,NaN,NaN,219.29000,...,Msini,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.40540
26841,ups And b,ups And,2,3,1996,4.617136,0.059500,NaN,NaN,213.58176,...,Msini,NaN,NaN,6105.51,1.64,1.15,0.101,[M/H],4.07,13.40540
26842,ups And b,ups And,2,3,1996,4.617120,0.059000,NaN,NaN,238.36000,...,Msini,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.40540
26843,ups And b,ups And,2,3,1996,4.617033,0.059222,NaN,NaN,218.53100,...,Msini,NaN,NaN,NaN,1.56,1.30,NaN,NaN,NaN,13.40540
26844,ups And c,ups And,2,3,1999,238.100000,0.821000,NaN,NaN,715.09000,...,Msini,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.40540
26845,ups And c,ups And,2,3,1999,241.330000,0.832000,NaN,NaN,610.23360,...,Msini,NaN,NaN,6105.51,1.64,1.15,0.101,[M/H],4.07,13.40540
26846,ups And c,ups And,2,3,1999,241.258000,0.827774,NaN,NaN,629.59500,...,Msini,NaN,NaN,NaN,1.56,1.30,NaN,NaN,NaN,13.40540
26847,ups And c,ups And,2,3,1999,241.520000,0.830000,NaN,NaN,629.28000,...,Msini,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.40540
26848,ups And d,ups And,2,3,1999,1276.460000,2.513290,NaN,NaN,1313.22000,...,Msini,NaN,NaN,NaN,1.56,1.30,NaN,NaN,NaN,13.40540
26849,ups And d,ups And,2,3,1999,1319.000000,2.570000,NaN,NaN,1255.38000,...,Msini,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.40540
26850,ups And d,ups And,2,3,1999,1274.600000,2.510000,NaN,NaN,1255.38000,...,Msini,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.40540
26851,ups And d,ups And,2,3,1999,1278.100000,2.530000,NaN,NaN,1312.63790,...,Msini,NaN,NaN,6105.51,1.64,1.15,0.101,[M/H],4.07,13.40540
26852,xi Aql b,xi Aql,1,1,2007,136.750000,0.680000,NaN,NaN,890.00000,...,Msini,NaN,NaN,4780.00,12.00,2.20,-0.205,[Fe/H],2.66,56.18580
26853,xi Aql b,xi Aql,1,1,2007,NaN,0.580000,NaN,NaN,642.00000,...,Msini,NaN,NaN,NaN,NaN,1.40,NaN,NaN,NaN,56.18580